body, html {
    height: 100%;
}


.bar{
    height: 10%;
}

.shadowtext {
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    color: white;
    font-weight: bold;
}

@media (orientation: portrait) {
   h2 {
    font-size:60px;
    }
}

.button_block{
    margin: 5%;
}

.center_block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.center_block p {
    width: 60%;
    padding: 15px;
}

.name {
    color: white;
    font-weight: bold;
    vertical-align: middle;
    font-size: 110%;
    margin-left: 3%;
}

.icon{
    margin-left: 5%;
    margin-top: 5%;
    height: 8%;
}
@media screen and (max-width: 767px) {
}
.bg {
    /* The image used */
    background-image: url("https://i.imgur.com/K4vWhqd.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}