{% load static i18n %}<!DOCTYPE html>
{% load pwa %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% progressive_web_app_meta %}
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div class="bg">
        <nav class="navbar navbar-light bg-faded" style="background-color: rgba(214, 214, 214, 0.5);">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/icon.svg' %}" width="40" height="40" class="d-inline-block align-top" alt="">
                <span class="name">Новая Скорая</span>
            </a>
            <ul class="nav navbar-nav navbar-right"  style="width: 5%;">
                <li >
                <img src="{% static 'images/user.svg' %}" width="50" height="50" class="d-inline-block align-top" alt="Медкарта"></li>
            </ul>
        </nav>
        <div class="center_block">
            <p>
                <h2 class="shadowtext" style="text-align: center;">МЕДИЦИНСКАЯ ПОМОЩЬ ОКАЗЫВАЕТСЯ ВРАЧАМИ И ФЕЛЬДШЕРАМИ, ИМЕЮЩИЕ ВЫСШУЮ КВАЛИФИКАЦИОННУЮ КАТЕГОРИЮ <br/>
                    <div class="button_block">
                        <button onclick="location.href='{% url "fastmap" %}'"
                            type="button" class="btn btn-danger btn-lg" style="margin-right: 2%; height: 20%; width:35%">SOS</button>
                        <button onclick="location.href='{% url "map" %}'"
                            type="button" class="btn btn-primary btn-lg" style="margin-left: 2%; height: 20%; width:35%">Вызов</button>
                    </div>
                </h2>
            </p>
        </div>

    </div>
    <div style="position: relative;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"/>
    <script>
        if ('serviceWorker' in navigator) {
         window.addEventListener('load', function() {
           navigator.serviceWorker.register('/sw.js').then(
             function(registration) {
               // Registration was successful
               console.log('ServiceWorker registration successful with scope: ', registration.scope); },
             function(err) {
               // registration failed 😞
               console.log('ServiceWorker registration failed: ', err);
             });
         });
        }
      </script>


</body>
</html>
