<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="css/enter.css" />
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-light bg-faded" style="background-color: indigo;">
            <a class="navbar-brand" href="#">
                <img src="image/icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                <span style="color: white; font-weight: bold">Новая Скорая</span>
            </a>
        </nav>
    <div class="row" style="margin: 3%">
  <div class="col-sm-4"><h5>ФИО</h5></div>
  <div class="col-sm-4">Мамбетов Данияр</div>
</div>
<div class="row" style="margin: 3%">
  <div class="col-sm-4"><h5>Год рождения</h5></div>
  <div class="col-sm-4">1986.12.18</div>
</div>
<div class="row" style="margin: 3%">
  <div class="col-sm-4"><h5>Группа крови</h5></div>
  <div class="col-sm-4">A(II) Rh+</div>
</div>
<div class="row" style="margin: 3%">
  <div class="col-sm-4"><h5>Хроническое заболевание</h5></div>
  <div class="col-sm-4">Перелом колена в животе</div>
</div>
<div class="row" style="margin: 3%">
  <div class="col-sm-4"><h5>Хроническое заболевание</h5></div>
  <div class="col-sm-4">Воспаление хитрости</div>
</div>
<div class="row" style="margin: 3%">
  <div class="col-sm-4"><h5>Способ оплаты</h5></div>
  <div class="col-sm-4">VISA **1234</div>
</div>
<div class="row" style="margin: 3%">
  <div class="col-sm-4"><h5>Активирован SOS</h5></div>
  <div class="col-sm-4">ДА</div>
</div>

<div class="row" style="margin: 3%">
  <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-lg">Редактировать</button>
  </div>
  <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-lg">Выход</button>
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"/>



</body>
</html>